AUTH_SECRET="super-secret-key-for-nextauth-local-dev-12345"
AUTH_URL="http://localhost:3000"

KEYCLOAK_CLIENT_ID="portal-client"
KEYCLOAK_CLIENT_SECRET="lEMTo1DjYuxtwy07XKawk5c22hirr21m"
KEYCLOAK_ISSUER="http://localhost:8080/realms/workspace"
